.advantage_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 13.28vw 3.91vw 9.17vw 3.91vw;
    gap: 2.66vw;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 0.63vw;
}

.title h3 {
    color: var(--color-primary);
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: 2.70833vw;
    font-style: normal;
    font-weight: 700;
    line-height: 111%; /* 3.00625rem */
    letter-spacing: -0.05417vw;
}

.title p {
    color: #000;
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: 1.35417vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn_order {
    width: 22.39583vw;
    height: 4.32292vw;
    flex-shrink: 0;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.2vw;
}