.advantage_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 13.28vw 3.91vw 0 3.91vw;
    gap: 2.66vw;
    position: relative;
    z-index: 1;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 0.63vw;


}

.title h3 {
    color: var(--color-primary);
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: 2.70833vw;
    font-style: normal;
    font-weight: 700;
    line-height: 111%; /* 3.00625rem */
    letter-spacing: -0.05417vw;
    white-space: pre-line;
    position: relative;
}

.title p {
    color: #000;
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: 1.35417vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: pre-line;
}

.btn_order {
    width: fit-content;
    height: 4.32292vw;

    padding: 1.45vw 2.45vw;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.2vw;
}

.circle{
    position: absolute;
    bottom: 15vw;
    left: 0;
    z-index: -1;
    width: 17.2699vw;
    height: 17.2699vw;
    flex-shrink: 0;
}

.spot{
    position: absolute;
    top: 4vw;
    right: 0;
    z-index: -1;
    width: 22.55208vw;
    height: 22.55208vw;
    flex-shrink: 0;
    filter: blur(1.876vw);
}

.desc{
    display: flex!important;
}
.mobile{
    display: none!important;
}
@media screen and (max-width: 1024px) {
    .advantage_section {
        padding: 0 4.27vw;
        gap: 8.53vw;
    }
    .title{
        gap: 3.2vw;
    }
    .title p{

        font-size: 4.26667vw;

    }
    .title h3{
        font-size: 8.53333vw;
        font-style: normal;
        font-weight: 700;
        line-height: 111%; /* 9.472rem */
        letter-spacing: -0.17067vw;
    }
    .container{
        flex-direction: column;
        gap: 3.2vw;
        width: 100%;
    }
    .desc{
        display: none!important;
    }
    .mobile{
        display: flex!important;
    }

    .container:last-child div div:last-of-type{
        background: linear-gradient(90deg, rgba(15, 59, 152, 0.00) 0.36%, rgba(15, 59, 152, 0.80) 99.56%);

    }
    .btn_order{
        border-radius: 11.43093vw;
        height: 16.53333vw;
        padding: 4.8vw 6.4vw;
        box-shadow: 0 5.163vw 15.489vw 0 rgba(121, 175, 255, 0.66);

    }
    .btn_order span{

        font-size: 3.73333vw;

    }
    .circle{
        display: none;
    }
    .spot{
        display: none;
    }
    .star{
        left:-1vw;
    }
}