.advantage_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 13.28vw 3.91vw 9.17vw 3.91vw;
    gap: 2.66vw;
    position: relative;
    z-index: 1;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 0.63vw;
}

.title h3 {
    color: var(--color-primary);
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: 2.70833vw;
    font-style: normal;
    font-weight: 700;
    line-height: 111%; /* 3.00625rem */
    letter-spacing: -0.05417vw;
}

.title p {
    color: #000;
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: 1.35417vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn_order {
    width: fit-content;
    height: 4.32292vw;

    padding: 1.45vw 2.45vw;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.2vw;
}

.circle{
    position: absolute;
    bottom: 15vw;
    left: 0;
    z-index: -1;
    width: 17.2699vw;
    height: 17.2699vw;
    flex-shrink: 0;
}

.spot{
    position: absolute;
    top: 4vw;
    right: 0;
    z-index: -1;
    width: 22.55208vw;
    height: 22.55208vw;
    flex-shrink: 0;
    filter: blur(1.876vw);
}