.container {
    position: relative;
    width: 19.47917vw;
    height: 9.89583vw;
    flex-shrink: 0;


    z-index: 1;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    gap: 1.93vw;

    border-radius: 0.52083vw;
    background: #FFF;
    box-shadow: 0 3.1vw 7.79vw 0 rgba(168, 188, 203, 0.16);
    padding: 1.46vw 1.41vw 1.61vw 1.41vw;
}

.content div {
    width: 2.29167vw;
    height: 2.29167vw;
}

.content p {
    color: #000;
    font-family: var(--font-manrope), sans-serif;
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: pre-line;
}

.foreground {
    position: absolute;
    top: 0.73vw;
    left: 1.41vw;
    width: 16.66667vw;
    height: 10vw;
    flex-shrink: 0;

    border-radius: 0.52083vw;
    box-shadow: 0 3.1vw 7.79vw 0 rgba(168, 188, 203, 0.16);
    z-index: 0;
    background: #FFF;

}

@media screen and (max-width: 1024px) {
    .container {
        width: 74.7vw;
        height: 35.7vw;
    }
    .content {

        position: relative;
        z-index: 3;
        width: 74.7vw;
        height: 35.7vw;
        padding: 6.4vw;
        gap: 8.53333vw;
        border-radius: 3.2vw;
        box-shadow: 0 12.254vw 30.821vw 0 rgba(168, 188, 203, 0.16);


    }
    .foreground{
        width: 58.66667vw;
        height: 32.53333vw;
        border-radius: 2.06053vw;
        box-shadow: 0 12.254vw 30.821vw 0 rgba(168, 188, 203, 0.16);

        top: 6vw;
        left: 7.41vw;
    }
    .content div{
        width: 8vw;
        height: 8.53333vw;
        aspect-ratio: 15/16;
    }
    .content p{
        font-size: 4.26667vw;

    }

}
