.item {
    width: 28.80208vw;
    height: 38.02083vw;
    flex-shrink: 0;
    border-radius: 2.29167vw;
    padding: 2.14vw 1.87vw 2.24vw 2.14vw;
    background: #495A83;
    position: relative;
    overflow: hidden;


}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.full{
    background: linear-gradient(265deg, #3D93F7 -1.54%, #4169F4 100%);

}
.item h3 {
    width: 12.70833vw;
    color: #FFF;
    font-family: var(--font-manrope), sans-serif;
    font-size: 1.66667vw;
    font-style: normal;
    font-weight: 700;
    line-height: 111%; /* 1.85vw */
    letter-spacing: -0.03333vw;
    margin-bottom: 2.45vw;
}
.full h3{
    width: 14.6vw;
}

.item h4 {
    width: 15.78125vw;
    color: #FFF;
    font-family: var(--font-manrope), sans-serif;
    font-size: 1.04167vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0.83vw;

}

.item ul {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.item ul li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.62vw;
}

.item ul li p {
    width: 19.21875vw;
    color: #FFF;
    font-family: var(--font-manrope), sans-serif;
    font-size: 1.04167vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icon {
    width: 0.9375vw;
    height: 0.9375vw;
    flex-shrink: 0;
}

.icon svg {
    width: 100%;
    height: 100%;

}

.prices_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.14vw;
}

.prices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.fire {
    width: 2.86984vw;
    height: 2.86984vw;
}

.fire svg {
    width: 100%;
    height: 100%;
}

.price_stock {
    color: rgba(255, 255, 255, 0.33);
    font-family: var(--font-manrope), sans-serif;
    font-size: 2.60417vw;
    font-style: normal;
    font-weight: 700;
    line-height: 111%; /* 2.89063vw */
    letter-spacing: -0.05208vw;
    text-decoration-line: line-through;
    margin-bottom: 0.28vw;
}

.price_sale {
    color: #FFF;
    font-family: var(--font-manrope), sans-serif;
    font-size: 2.16005vw;
    font-style: normal;
    font-weight: 700;
    line-height: 111%; /* 2.39766vw */
    letter-spacing: -0.04318vw;
    margin-bottom: 0.14vw;

}

.subprice {
    color: #FFF;
    font-family: var(--font-manrope), sans-serif;
    font-size: 0.945vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.item_text{
    width: 100%;
}
.btn_order{
    width: 100%;
    height: 4.32292vw;
    flex-shrink: 0;
    margin-top: 3.3vw;

    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    box-shadow: none;

    position: relative;
    z-index: 3;
    overflow: visible;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.btn_order span {
    position: relative;
    z-index: 1;
}

.full .btn_order{
    background: #FFF;

    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    transition: background 0.3s ease-in-out;
}

.full .btn_order::before {
    content: '';
    position: absolute;
    top: 0;
    /*left: 0;*/
    width: 101%;
    height: 100%;
    background: linear-gradient(265deg, #3D93F7 -1.54%, #4169F4 100%);
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 0;
}

.full .btn_order:hover::before {
    opacity: 1;
}

.full .btn_order span{
    background: linear-gradient(265deg, #3D93F7 -1.54%, #4169F4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.full .btn_order:hover span {
    background: #FFF;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.full .btn_order:hover {
    box-shadow: 0 1.548vw 4.646vw 0 rgba(121, 175, 255, 0.3);
}
.image{
    position: absolute;
    z-index: 2;
    width: 11.92708vw;
    height: 6.82292vw;
    flex-shrink: 0;
    aspect-ratio: 229/131;
    right: 0;

}
.full .image{
    width: 17.65625vw;
    height: 17.65625vw;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    bottom: 3vw;
    right: -5.4vw;
}

.garant{
    position: absolute;
    z-index: 2;
    width: 13.07833vw;
    height: 14.41323vw;
    flex-shrink: 0;
    top: -4vw;
    right: -5.6vw;
}

.salesItem{
    background: #FFF;
    display: inline-flex;
    height: 2vw;
    width: 7.29vw;
    padding: 0.32568vw 0.39078vw 0.32568vw 0.52083vw;
    justify-content: center;
    align-items: center;
    gap: 0.13026vw;
    flex-shrink: 0;
    position: absolute;
    border-radius: 1.43286vw;
    top: -1vw;
    z-index: 3;
}
.salesItem p{
    color: #000;
    font-family: var(--font-manrope), sans-serif;
    font-size: 0.625vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.salesItem svg  {
    width: 0.67708vw;
    height: 0.67708vw;
    aspect-ratio: 1/1;
}
.salesItem path{
    fill: #F00;

}
.fullSales{
    background: #2CB43C;
}

.fullSales path{
    fill: #ffffff;

}
@media screen and (max-width: 1024px) {
    .item{
        width: 100%;
        height: 121.6vw;
        padding: 6.84vw 5.27vw 7.05vw 6vw;
        border-radius: 5.86667vw;

    }
    .item_text h3{
        font-size: 5.33333vw;
        font-style: normal;
        font-weight: 700;
        line-height: 111%; /* 5.92vw */
        letter-spacing: -0.10667vw;
        width: 100%;
        margin-bottom: 4.9vw;
        white-space: pre-line;
    }
    .item_text h4{
        font-size: 3.73333vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 50.52053vw;
        margin-bottom: 4.27vw;

    }
    .item_text ul{
        gap: 3.95vw;
    }
    .item_text ul li{
        gap: 2vw;
    }
    .item_text ul li p{
        width: 60vw;
        font-size: 3.73333vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        white-space: pre-line;
    }
    .icon{
        width: 3.00133vw;
        height: 3.00133vw;
        flex-shrink: 0;
    }
    .fire{
        width: 9.1872vw;
        height: 9.1872vw;
        flex-shrink: 0;
    }
    .prices_container{
        gap: 3.65vw;
    }
    .price_stock{
        font-size: 8vw;
        font-style: normal;
        font-weight: 700;
        line-height: 111%; /* 8.88vw */
        letter-spacing: -0.16vw;
    }
    .price_sale{
        font-size: 6.4vw;
        font-style: normal;
        font-weight: 700;
        line-height: 111%; /* 7.104vw */
        letter-spacing: -0.128vw;
    }
    .subprice{
        font-size: 3.2vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .image{
        width: 61.06667vw;
        height: 34.93333vw;
        bottom: 30vw;
        right: -21.5vw;
    }
    .full .image{
        width: 67.73333vw;
        height: 67.73333vw;
        right: -30vw;
        bottom: 10vw;
    }
    .btn_order{
        width: 100%;
        height: 13.83893vw;
        border-radius: 10.97627vw;
        margin-top: 10.63vw;

    }
    .btn_order span{
        font-size: 3.73333vw;

    }
    .garant{
        width: 28.79413vw;
        height: 31.73307vw;
        right: 0vw;
        top: 128vw;
    }
    .salesItem{
        background: #FFF;
        display: inline-flex;
        height: 7.46667vw;
        width: fit-content;
        padding: 1.66747vw 2.0008vw 1.66747vw 2.66667vw;
        justify-content: center;
        align-items: center;
        gap: 0.66693vw;
        flex-shrink: 0;
        position: absolute;
        border-radius: 7.33627vw;
        top: -5vw;
    }
    .salesItem p{
        color: #000;
        font-family: var(--font-manrope), sans-serif;
        font-size: 3.2vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;

    }
    .salesItem svg  {
        width: 3.46667vw;
        height: 3.46667vw;
        aspect-ratio: 1/1;
    }
    .salesItem path{
        fill: #F00;

    }
    .fullSales{
        background: #2CB43C;
    }

    .fullSales path{
        fill: #ffffff;

    }
}
