.star{
    width: 1.03245vw;
    height: 1.03245vw;
    flex-shrink: 0;
    position: absolute;
    top: -2vw;
    left: -1.5vw;
}

.star svg{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .star{
        width: 4.26667vw;
        height: 4.26667vw;
        flex-shrink: 0;
        top: -5.5vw;
        left: -5vw;
    }
}