:root {


    --background--primary-gradient: linear-gradient(265deg, #3D93F7 -1.54%, #4169F4 100%);
    --background--cart-first: #495A83;

    --color-primary: #1B2238;
    --color-without: #ED4649;

    --font-size--66: 3.438vw;
    --font-size--58: 3.021vw;
    --font-size--52: 2.708vw;
    --font-size--37: 1.927vw;
    --font-size--36: 1.875vw;
    --font-size--22: 1.146vw;
    --font-size--20: 1.042vw;
    --font-size--18: 0.938vw;
}

body {
    width: 100vw;
    background: #F5F6F7;
}
html{
    background: #F5F6F7;
    scroll-behavior: smooth;
}


/* Для Webkit-браузерів: Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 8px;            /* ширина скролбару */
    height: 8px;           /* висота для горизонтального скролбару */
}

::-webkit-scrollbar-track {
    background: transparent; /* трек без фону */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* колір повзунка */
    border-radius: 4px;                   /* закруглені краї */
    transition: background-color 0.2s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5); /* темніша при наведенні */
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

*::-webkit-scrollbar {
    /* додатково, щоб Firefox не ігнорував width у деяких випадках */
    width: 8px;
}


@media (prefers-color-scheme: dark) {
    :root {

    }
}
