.footer {
    width: 100vw;
    height: 31.875vw;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: linear-gradient(265deg, #3D93F7 -1.54%, #4169F4 100%);
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4.17vw 0 3.96vw 5.05vw;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.3vw;
}

.head span {
    color: #FFF;
    font-family: Manrope, sans-serif;
    font-size: 3.66604vw;
    font-style: normal;
    font-weight: 800;
    line-height: 111%; /* 4.06932rem */
    letter-spacing: -0.07333vw;
}

.head p {
    color: #FFF;
    font-family: "Inter Tight", sans-serif;
    font-size: 1.04167vw;
    font-style: normal;
    font-weight: 600;
    line-height: 126%; /* 1.3125rem */
    letter-spacing: -0.03125vw;

    white-space: pre-line;
}

.pages {
    display: flex;
    flex-direction: row;
    gap: 2.08vw;
}

.pages a {
    color: rgba(255, 255, 255, 0.40);
    font-family: "Inter Tight", sans-serif;
    font-size: 1.04167vw;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.45833rem */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1.15vw;
    padding-top: 3.08vw;
}

.menu h5 {
    color: #FFF;
    font-family: Manrope, sans-serif;
    font-size: 1.04167vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
}

.menu a {
    color: #FFF;
    font-family: Manrope, sans-serif;
    font-size: 1.04167vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.39583vw; /* 230% */
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5.21vw 8vw 0 0;
    gap: 2.29vw;
}

.btn_order {
    width: 22.8125vw;
    height: 5vw;
    flex-shrink: 0;
    border-radius: 3.42865vw;
    background: #FFF;
}

.btn_order span {
    color: #000;
    font-family: Manrope, sans-serif;
    font-size: 1.66667vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.main ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.29vw;
}

.main ul a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.62vw;
}

.icon {
    width: 2.76042vw;
    height: 2.76042vw;
    flex-shrink: 0;
    background: #FFF;
    border-radius: 3vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon svg {
    width: 1.25vw;
    height: 1.25vw;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.main p {
    color: #FFF;
    font-family: Manrope, sans-serif;
    font-size: 1.66667vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: pre-line;
}

.last {
    align-items: flex-start !important;
}

.last svg {
    width: 1.45833vw;
    height: 1.45833vw;
}
.line{
    display: none;
}
.aside_mob{
    display: none;
}
@media screen and (max-width: 1024px) {
    .footer {
        flex-direction: column;
        width: 100%;
        height: fit-content;
        align-items: center;
        padding: 16vw 4.27vw;
    }
    .footer .left{
        padding: 0;
        margin-bottom: 10.64vw;
    }

    .head span {
        font-size: 21.33vw;
        text-transform: uppercase;
        font-weight: 600;
    }
    .head p {
        display: none;
    }
    .menu{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }
    .menu h5{
        display: none;
    }
    .menu ul{
        padding: 0;
        gap: 5.6vw;
    }
    .btn_order_mob{

    }
    .menu ul li a{
        font-size: 4.8vw;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 4.8rem */
    }
    .pages{
        display: none;
    }
    .btn_order_mob{
        display: flex;
        width: 49.6vw;
        height: 11.2vw;
        padding: 2.93333vw 15.73333vw;
        justify-content: center;
        align-items: center;
        gap: 2.66667vw;
        flex-shrink: 0;

        border-radius: 7.44587vw;
        background: #FFF;
        box-shadow: none;

    }
    .btn_order_mob span{
        color: #000;
        font-size: 3.61947vw;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .line{

        display: flex;
        width: 100%;
        height: 0.26667vw;

        opacity: 0.11;
        background: #FFF;
        margin: 6.4vw 0;
    }
    .btn_order{
        display: none;
    }
    .main{
        width: 100%;
        padding: 0;
    }
    .main ul{
        gap: 5.87vw;
    }
    .main ul li a{
        gap: 3.2vw;
    }
    .main ul li a p{
        font-size: 4.8vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .main .icon{
        width: 8.31653vw;
        height: 8.31653vw;
        border-radius: 10.64vw;
    }
    .main .icon svg{
        width: 3.76587vw;
        height: 3.76587vw;
    }
    .aside_mob {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;

    }
    .aside_mob p{
        text-align: right;
        white-space: pre-line;

        color: #FFF;
        font-family: "Inter Tight", sans-serif;
        font-size: 3.73333vw;
        font-style: normal;
        font-weight: 600;
        line-height: 126%; /* 4.704rem */
        letter-spacing: -0.112vw;
    }
    .pages_mob{
        display: flex;
        flex-direction: column;
        gap: 3.2vw;
    }
    .pages_mob li a{
        color: rgba(255, 255, 255, 0.40);
        font-family: "Inter Tight", sans-serif;
        font-size: 3.73333vw;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 5.22667rem */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
    }

}
