.item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 45vw;
    border-radius: 1.2vw;
    overflow: hidden;
    padding: 2.76vw 1.93vw;
    align-items: flex-end;
    gap: 2.29vw;
}

.title {
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 2;

    padding: 0.52083vw 0.9375vw;
    justify-content: center;
    align-items: center;
    gap: 0.52083vw;

    border-radius: 1.14583vw;
    background: #FFF;

}
.item ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 1.15vw;
    position: relative;
    z-index: 3;
}
.title span {

    text-align: center;
    font-family: var(--font-manrope), sans-serif;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 700;
    line-height: 111%; /* 2.08125rem */
    letter-spacing: -0.0375vw;

    background: linear-gradient(265deg, #3D93F7 -1.54%, #4169F4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon {
    min-width: 1.35417vw;
    min-height: 1.35417vw;

    width: 1.35417vw;
    height: 1.35417vw;
}

.background_image {
    position: absolute;
    flex-shrink: 0;
    top: 0;
    left: 0;
    height: 100%;
}
.background_image{
    height: 100%;
}

.foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(15, 59, 152, 0.00) 0.36%, rgba(15, 59, 152, 0.80) 99.56%);
}

.item_left {
    align-items: flex-start;
}

.item_left .foreground {
    background: linear-gradient(270deg, rgba(97, 8, 8, 0.00) 0.36%, rgba(97, 8, 8, 0.80) 99.56%);

}

.item_left .title span {
    color: #ED4649; /* новий колір тексту */
    background: none; /* прибирає градієнт */
    -webkit-background-clip: initial; /* скидає clip */
    -webkit-text-fill-color: initial; /* повертає колір тексту */
    background-clip: initial; /* стандартне значення */
}

@media screen and (max-width: 1024px) {
    .item {
        width: 100%;
        padding: 6.4vw 0 12.27vw 6vw;
        gap: 8.53vw;
        border-radius: 5vw;
        align-items: flex-start;
    }
    .title{
        gap: 1.6vw;
        padding: 1.6vw 2.88vw;
        border-radius: 3.52vw;

    }
    .title .icon{
        width: 4.16vw;
        height: 3.84vw;
    }
    .title span{
        font-size: 3.73333vw;
        font-style: normal;
        font-weight: 700;
        line-height: 111%; /* 4.144rem */
        letter-spacing: -0.07467vw;
    }
    .background_image img, .background_image{
        height: 124.8vw;
        width: fit-content;
    }
    .item ul{
        gap: 6.13vw;
    }

    .item_mobile .foreground{
        background: linear-gradient(90deg, rgba(15, 59, 152, 0.00) 0.36%, rgba(15, 59, 152, 0.80) 99.56%);
        rotate: 180deg;
    }
}
