.certificates_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 9.06vw;
}

.aside {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 38.125vw;
    height: 60.46875vw;
    flex-shrink: 0;
    padding: 3.02vw 8.83vw 5.54vw 5.05vw;
    gap: 2.92vw;
}

.aside h3 {
    color: var(--color-primary);
    font-family: var(--font-manrope), sans-serif;
    font-size: 2.70833vw;
    font-style: normal;
    font-weight: 700;
    line-height: 111%; /* 3.00625rem */
    letter-spacing: -0.05417vw;
}

.preview {
    width: 24.24063vw;
    height: 43.05026vw;
    flex-shrink: 0;
    border-radius: 1.5625vw;
    overflow: hidden;
    position: relative;
}
.preview video{
    width: 100%;
}

.main {
    width: 61.875vw;
    height: 60.46875vw;
    flex-shrink: 0;
    background: linear-gradient(265deg, #3D93F7 -1.54%, #4169F4 100%);
    padding: 2.55vw 5.21vw 5.42vw 5.89vw;
}

.main h3 {
    color: #FFF;
    /*text-align: center;*/
    font-family: var(--font-manrope), sans-serif;
    font-size: 2.70833vw;
    font-style: normal;
    font-weight: 700;
    line-height: 111%; /* 3.00625rem */
    letter-spacing: -0.05417vw;
    margin-bottom: 3.18vw;
}

.main ul {
    display: flex;
    flex-direction: column;
    gap: 0.92vw;
    margin-bottom: 2.74vw;
}

.main ul li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.73vw;

    color: #FFF;
    font-family: var(--font-manrope), sans-serif;
    font-size: 1.19792vw;
    font-style: normal;
    font-weight: 700;
    line-height: 133%; /* 1.59323rem */
    white-space: pre-line;
}

.plus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vw;
    width: 1.5625vw;
    height: 1.5625vw;
    flex-shrink: 0;
    background: #FFF;
}

.plus svg {
    width: 0.5162vw;
    height: 0.5162vw;
    flex-shrink: 0;
}

.certificates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.34vw;
}

.certificate_image {
    width: 23.59375vw;
    height: 35.15625vw;
    flex-shrink: 0;
    aspect-ratio: 151/225;

    border-radius: 1.14583vw;
    border: 0.156vw solid #3D93F7;
    background: lightgray 50% / cover no-repeat;
    overflow: hidden;
}
.certificates .certificate_image:first-child img {
    transform-origin: top right; /* точка, від якої масштабування */
    transform: scale(1.06);      /* збільшення на 6% */
    display: block;               /* прибирає можливі пробіли під img */
}


.playBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 7%;
    right: -5%;
    transform: translate(-50%, -50%);
    border-radius: 3.75vw;
    background: linear-gradient(265deg, #3D93F7 -1.54%, #4169F4 100%) !important;
    width: 3.75vw;
    height: 3.75vw;
    flex-shrink: 0;
    z-index: 10;
    border: none;
    cursor: pointer;
}
.playBtn svg{
    width: 60%;
}
@media screen and (max-width: 1024px) {
    .certificates_section {
        flex-direction: column;
        margin-bottom: 17.87vw;
    }

    .aside {
        background: #F5F6F7;

        width: 100%;
        height: fit-content;
        gap: 8.53vw;
        padding: 0 4.27vw;
        align-items: center;

    }

    .aside h3 {
        font-size: 8.53333vw;
        font-style: normal;
        font-weight: 700;
        line-height: 111%; /* 9.472rem */
        letter-spacing: -0.17067vw;
    }

    .preview {
        width: 100%;
        height: fit-content;
        border-radius: 3vw;
        overflow: hidden;
        margin-bottom: 16vw;
    }
    .playBtn{
        width: 13.86667vw;
        height: 13.86667vw;
        flex-shrink: 0;
        border-radius: 13.86667vw;

    }

    .playBtn svg{
        width: 90%;
    }

    .preview video{
        width: 100%;
        border-radius: 5vw;
    }
    .main {
        width: 100%;
        height: fit-content;
        padding: 16vw 4.27vw 4.27vw;
    }

    .main h3 {
        font-size: 8.53333vw;
        font-style: normal;
        font-weight: 700;
        line-height: 111%; /* 9.472rem */
        letter-spacing: -0.17067vw;
        text-align: start;
        margin-bottom: 7.47vw;
    }

    .main ul {
        gap: 3.2vw;
        margin-bottom: 7.47vw;

    }

    .main ul li {
        font-size: 3.73333vw;
        font-style: normal;
        font-weight: 700;
        line-height: 133%; /* 4.96533rem */
        gap: 3.2vw;

    }

    .certificates {
        flex-direction: column;
    }

    .plus {
        width: 5.86667vw;
        height: 5.86667vw;
        border-radius: 5.86667vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .plus svg {
        width: 1.93813vw;
        height: 1.93813vw;
    }
    .certificate_image{
        width: 100%;
        height: fit-content;
        border-radius: 4.26667vw;
    }
}