.tariff_section {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.23vw;
    margin-bottom: 9.11vw;
}

.title {
    width: 41.5625vw;

}

.title h3 {
    color: var(--color-primary);
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: 2.70833vw;
    font-style: normal;
    font-weight: 700;
    line-height: 111%; /* 3.00625rem */
    letter-spacing: -0.05417vw;
    position: relative;
}

.star {
    left: 0 !important;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.63vw;
    position: relative;

}

.sales {
    position: relative;
    z-index: 2;
    width: 58.28125vw;
    height: 22.13542vw;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 2.29167vw;
    background: linear-gradient(265deg, #3D93F7 -1.54%, #4169F4 100%);
}

.sales_icon {
    position: absolute;
    z-index: 1;
    width: 36.04167vw;
    height: 36.04167vw;
    aspect-ratio: 1/1;
}

.first {
    left: -20vw;
    bottom: -7vw;
}

.second {
    right: -21vw;
    bottom: -7vw;
}

.sales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub_title {
    margin-bottom: 1.28vw;
    padding: 0.76391vw 1.22224vw;
    border-radius: 3.36109vw;
    background: #FFF;
    position: relative;
    z-index: 2;

}

.sub_title h4 {
    color: #000;
    font-family: Manrope, sans-serif;
    font-size: 1.375vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sales .title h3 {
    color: #FFF;
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: 1.66667vw;
    font-style: normal;
    font-weight: 700;
    line-height: 99%; /* 1.65rem */

    position: relative;
    z-index: 2;
    margin-bottom: 1.15vw;
}

.time_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.52vw;

    position: relative;
    z-index: 2;
    margin-bottom: 1.06vw;
}

.time_value {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.35vw;
}

.time_value span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.66vw;
    min-width: 3.1899vw;
    height: 4.67849vw;
    border-radius: 0.625vw;
    background: #FFF;

    color: #000;
    text-align: center;
    font-family: "RF Dewi", sans-serif;
    font-size: 2.89052vw;
    font-style: normal;
    font-weight: 600;
    line-height: 99%; /* 2.86161rem */
    letter-spacing: -0.08672vw;
    text-transform: uppercase;
}

.time_name {
    color: #FFF;
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: 1.5175vw;
    font-style: normal;
    font-weight: 400;
    line-height: 99%; /* 1.50234rem */
}

.description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.73vw;

    position: relative;
    z-index: 2;

}

.desc_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.63vw;
}

.desc_icon {
    width: 1.5625vw;
    height: 1.77083vw;
}

.desc_icon svg {
    width: 100%;
    height: 100%;
}

.desc_item p {
    width: 12.55208vw;
    color: #FFF;
    font-family: Manrope, sans-serif;
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.desc_icon rect {
    fill: #4173F5;
}

.desc_icon rect:first-child {
    fill: #FFF;
}

.blur {
    position: absolute;
    z-index: 1;
    width: 99.81828vw;
    height: 117.53047vw;
    flex-shrink: 0;
    opacity: 0.2;
    filter: blur(0.781vw);
    top: 0;
}

@media screen and (max-width: 1024px) {
    .tariff_section {
        padding: 0 4.27vw;
    }

    .title h3 {
        width: 87.73333vw;
        font-size: 7.46667vw;
        font-style: normal;
        font-weight: 700;
        line-height: 111%; /* 8.288rem */
        letter-spacing: -0.14933vw;
    }

    .container {
        flex-direction: column;
        width: 100%;
        gap: 4.27vw;
    }

    .sales {
        width: 100%;
        height: fit-content;
        padding: 5.6vw 3.22vw 36.5vw 3.73vw;
        border-radius: 5.86667vw;

    }

    .sub_title {
        width: 100%;
        padding: 3.9112vw 5vw;
        justify-content: center;
        align-items: center;
        gap: 3.9112vw;
        border-radius: 17.2088vw;
        margin-bottom: 5.78vw;
    }

    .sub_title h4 {
        font-size: 3.73333vw;
        font-weight: 600;

    }

    .title {
        width: 100%;
        margin-bottom: 5.87vw;
    }


    .time_container {
        gap: 4.95vw;
        margin-bottom: 7.55vw;
    }

    .time_value {
        gap: 1.1vw;
    }

    .time_item {
        display: flex;
        flex-direction: column;
        gap: 1.67vw;
    }

    .time_value span {
        width: 10.00987vw;
        height: 14.68133vw;
        flex-shrink: 0;
        border-radius: 1.96133vw;

        font-size: 9.0704vw;
        font-style: normal;
        font-weight: 600;
        line-height: 99%; /* 8.97973rem */
        letter-spacing: -0.272vw;

    }

    .time_name {
        font-size: 4.76213vw;
        font-style: normal;
        font-weight: 400;
        line-height: 99%; /* 4.7144rem */
    }

    .description {
        flex-direction: column;
        gap: 4vw;
    }

    .desc_item {
        width: 100%;
        gap: 1.92vw;
    }

    .desc_item p {
        width: fit-content;
        font-size: 3.73333vw;

    }

    .desc_icon {
        width: 4.74613vw;
        height: 5.37893vw;
        flex-shrink: 0;
    }

    .first {
        width: 77.86667vw;
        height: 77.86667vw;
        left: -41vw;
        bottom: -31.8vw;
    }

    .second {
        width: 77.86667vw;
        height: 77.86667vw;
        right: -27vw;
        bottom: -27.8vw;

    }
}