.why_glumed_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;

    position: relative;
    overflow: hidden;
    /*z-index: 2;*/
    padding: 9.17vw 6vw;

}

.title {
    color: var(--color-primary);
    text-align: center;
    font-family: var(--font-manrope), sans-serif;
    font-size: 2.70833vw;
    font-style: normal;
    font-weight: 700;
    line-height: 111%; /* 3.00625rem */
    letter-spacing: -0.05417vw;
    position: relative;
    z-index: 2;
}

.btn_order {
    height: 4.32292vw;
    border-radius: 3.42865vw;
    padding: 1.45vw 1.67vw 1.57vw 1.67vw;
    position: relative;
    z-index: 2;
    margin-top: 2.84vw;

}

.container {
    position: relative;
    z-index: 2;

    width: 100%;
    display: flex;
    justify-content: space-between;

}

.column {
    display: flex;

    flex-direction: column;
    gap: 4.17vw;

}

.background_image {
    position: absolute;
    z-index: 0;
    /*width: 202.77563vw;*/
    /*height: 115.31359vw;*/
    right: 3vw;
    left: -8vw;
    top: -59vw;
    transform: rotate(10.128deg);

}

.main_icon {
    aspect-ratio: 1;
    z-index: 1;
    flex-shrink: 0;
    width: 50.5417vw;
    height: 53.5417vw;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);

}

@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        gap: 15.5vw;
    }

    .column {
        gap: 15.5vw;
    }

    .main_icon {
        display: none !important;
    }

    .background_image {
        top: -30vw;
        left: -132vw;
    }

    .btn_order {
        width: 100%;
        display: flex;
        height: 16.53333vw;
        padding: 4.8vw 6.4vw;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-radius: 11.43093vw;
    }

    .btn_order span {
        font-size: 3.73333vw;
        font-weight: 700;

    }

    .title {
        width: 76.8vw;
        font-size: 8.53333vw;
        font-style: normal;
        font-weight: 700;
        line-height: 111%; /* 9.472rem */
        letter-spacing: -0.17067vw;
        margin-bottom: 6.92vw;
    }

    .why_glumed_section {
        padding: 0;
        padding-top: 17.6vw;
        margin-left: 4.47vw;
        margin-right: 4.47vw;
        gap: 16.7vw;
    }

    .star {
        left: 6vw;
    }
}