.container{
    display: flex;
    flex-direction: column;
    gap: 0.63vw;
}

.container input{
    width: 23.332vw;
    height: 3.64583vw;
    flex-shrink: 0;

    border-radius: 3.4375vw;
    background: #FFF;
    padding-left:  1.72vw;
}


.container input::placeholder{
    color: #ADADAD;
    font-family: NeverMind, sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 0.83333rem */
    letter-spacing: 0.01667vw;
}

.container span{
    color: salmon;
    font-family: NeverMind, sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 0.83333rem */
    letter-spacing: 0.01667vw;
}
@media screen and (max-width: 1024px) {
    .container input{
        width: calc(100% - 5.33vw);
        padding-left:  5.33vw;
        border-radius: 11.05947vw;
        height: 13.86667vw;

    }
    .container input::placeholder{
        font-size: 3.73333vw;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 3.73333rem */
        letter-spacing: 0.07467vw;
    }
}