.btn_order {
    min-width: fit-content;
    width: 11.19792vw;
    min-height: 2.91667vw;
    flex-shrink: 0;

    border-radius: 3.42865vw;
    background: var(--background--primary-gradient);
    box-shadow: 0 1.55vw 4.65vw 0 rgba(121, 175, 255, 0.66);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;

    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btn_order::before {
    content: '';
    position: absolute;
    top: 0;
    /*left: 0;*/
    width: 101%;
    height: 100%;
    background: linear-gradient(265deg, #1c73d9 -1.54%, #1539b9 100%);
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.btn_order:hover span {
    color: white;
}



.btn_order:hover::before {
    opacity: 1;
}

.btn_order span {
    color: #FFF;
    font-family: var(--font-manrope), sans-serif;
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .btn_order, .btn_order::before  {
        border-radius: 11.43093vw;

    }

}