.btn_order{
    width: 11.19792vw;
    height: 2.91667vw;
    flex-shrink: 0;

    border-radius: 3.42865rem;
    background: var(--background--primary-gradient);
    box-shadow: 0 1.55vw 4.65vw 0 rgba(121, 175, 255, 0.66);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.btn_order span{
    color: #FFF;
    font-family: Manrope, sans-serif;
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}