.content {
    display: flex;
    flex-direction: column;
    gap: 1.56vw;
    margin-left: 4.9vw;
    transition: all 0.3s ease;

}

.item {
    display: flex;
    width: 100%;
    padding: 3.125vw 0;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 0.052vw solid rgba(21, 21, 21, 0.20);
    transition: all 0.3s ease;
}

.con {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.item h5 {
    color: #151515;
    font-family: Manrope, sans-serif;
    font-size: 2.29167vw;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 2.75rem */
    letter-spacing: -0.06875vw;
}

.item p {
    color: rgba(21, 21, 21, 0.60);
    font-family: "Inter Tight", serif;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 1.75rem */
    max-width: 50%;
}

.activate {
    width: 3.33333vw;
    height: 3.33333vw;
    flex-shrink: 0;
    border-radius: 2vw;
    border: 0.052vw solid #C8C9CA;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.activate svg {
    width: 1.45833vw;
}

.answer {
    color: rgba(21, 21, 21, 0.60);
    font-family: "Inter Tight", serif;
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 140%;
    max-width: 50%;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s ease;
}

.answer.active {
    opacity: 1;
    max-height: 10vw; /* або більше, щоб вміст помістився */
}

@media screen and (max-width: 1024px) {
    .item {
    }

    .number {
        font-size: 3.2vw;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 3.84rem */
    }

    .content h5 {
        font-size: 4.8vw;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 5.76rem */
        letter-spacing: -0.144vw;
    }

    .content .answer {
        max-width: 57.33333vw;
        font-size: 3.73333vw;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 5.22667rem */
    }

    .activate {
        width: 8.53333vw;
        height: 8.53333vw;
        aspect-ratio: 1/1;
        border-radius: 4.26667vw;
    }

    .activate svg {
        width: 3.73333vw;
    }

    .answer.active {
        opacity: 1;
        max-height: 60vw; /* або більше, щоб вміст помістився */
    }

    .item {
        padding: 6.4vw 0;
    }
}

